@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

input{
    font-family: "Titillium Web", sans-serif;
}

button{
    font-family: "Titillium Web", sans-serif;
    cursor: pointer;
}

.popup-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
}

.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 23%;
    height: 50%;
    background-color: white;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 50px auto;
    overflow: auto;
    z-index: 1;
}

.popup-close-button{
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 25px;
    right: 0;
    cursor: pointer;
    border: 0;
    background-color: white;
    border-radius: 50%;
}

.popup-title-text{
    margin-top: 10%;
    padding: 10px;
    font-size: 40px;
}

.popup-username-input{
    padding: 5px;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    height: 9%;
    width: 55%;
}

.popup-password-input{
    padding: 5px;
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    height: 9%;
    width: 55%;
}

.popup-login-button{
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    margin-top: 20px;
    height: 9%;
    width: 33%;
}